<h1>Portfolio Items</h1>
<!-- <%#emebed ruby%> it is what the .erb is about -->
<!-- where did the portfolios_items class variable(array) come from. Also something about an equals sign before the percent sign so that it can render the information on the page -->

<!--<a href="portfolios/new" >Create New Item</a>-->

<%= link_to "Create New Item", new_portfolio_path %>


<%= render partial: 'portfolio_item', collection: @portfolio_items %>