<h1>Homepage</h1><!--changed from Pages#home, this is the Title-->
<h1>Hello <%= current_user.first_name %></h1>
<p>Find me in app/views/pages/home.html.erb</p>
<!--This is a comment. Comments are not displayed in the browser
Below is inbedded Ruby and will be rendered on the page-->
<h1>Blog Posts</h1><!--inserted title here, taken from <h1> above and mofied-->
<%= @posts.inspect %>
<h1>Skills</h1><!--same as blogpost notes-->
<%= @skills.inspect %>

<hr>

<%= sample_helper %>