<h1>Homepage</h1><!--changed from Pages#home, this is the Title-->
<p>Find me in app/views/pages/home.html.erb</p>
<!--This is a comment. Comments are not displayed in the browser
Below is inbedded Ruby and will be rendered on the page-->
<%= @posts.inspect %>
